.filter {
  flex: 0 1 269px;
  background: #fff;
}

.section {
  height: 60px;
  padding: 19px 20px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.009em;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    border: solid black;
    border-width: 0 1px 1px 0;
    top: 28px;
    right: 23px;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
  }
}

.category {
  background: url("../../media/catalog-red.svg") 20px 22px no-repeat;
  padding-left: 47px;
}

.filt {
  background: url("../../media/filter.svg") 20px 22px no-repeat;
  padding-left: 47px;
  &::after {
    transform: rotate(45deg);
  }
}

.best {
  border-bottom: none;
}

label {
  display: block;
  &::after {
    opacity: 0;
  }
  input {
    margin-right: 10px;
  }
}

.reset {
  display: block;
  text-align: center;
  padding: 14px;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.009em;
  color: #b3b3b3;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin: 10px auto;
  width: 229px;
  cursor: pointer;
}

.filter__type-sort {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #e6e6e6;
  div {
    display: flex;
    max-width: 100%;
    gap: 10px;
    margin: 10px 0px;
  }

  label {
    max-width: 108px;
    flex: 0 1 108px;

    input {
      background: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 2px;
      padding: 9px 15px;
      max-width: 80px;
    }
  }
}
